body {
  margin: 0;
  background-color: aquamarine;
  font-family: sans-serif;
  padding: 10px;
}

ul {
  width: 500px;
  margin: 0 auto;
  list-style: none;
}

li::first-letter {
  font-size: 2em;
}
