body {
  background-color: #113f67;
}

#wrap {
  max-width: 800px;
  margin: 0 auto;
}

#nav {
  background-color: #e7eaf6;
  float: left;
  padding: 15px;
  height: 440px;
  text-align: center;
}

#content {
  background-color: #a2a8d3;
  float: left;
  width: 600px;
  min-height: 440px;
  padding: 15px;
  text-align: center;
}

#content ul {
  list-style: none;
}

.copyright {
  clear: both;
  text-align: right;
}
